

.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



body{
 background: linear-gradient(180deg, rgba(0, 73, 83, 0) , rgba(18, 177, 198, 0)), url("./images/pexels-therato-15463942.jpg");
 background-size: cover;
 background-position: center;
 color: whitesmoke;
 min-height: 100vh;
}

header h1{
 font-size: 100px;
 font-family: 'caveat';
 text-decoration: underline;
 text-underline-offset: 10px;
 color: rgb(255, 170, 0);
 
 text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

header, form{
 min-height: 20vh;
 display: flex;
 justify-content: center;
 align-items: center;
}





form input, form button{
 padding: 0.5rem;
 font-size: 40px;
 border: none;
 background: rgba(251, 251, 251, 0.678);
 font-weight: bold;
 color: rgb(41, 52, 52);
  font-family: 'caveat';
  text-align: center;
}

form input{
 border-top-left-radius: 35px;
 border-bottom-left-radius: 35px;

}

form button{
 border-top-right-radius: 35px;
 border-bottom-right-radius: 35px;
 
}

.todo-button{
 font-weight: bolder;
 color: rgb(221, 164, 48);

 background: rgba(255, 255, 255, 0.849);
 cursor: pointer;
 transition: all 0.3s ease;
}

.todo-button:hover{
background: rgba(235, 174, 42, 0.758);
color: whitesmoke;

}

.todo-container{
 display: flex;
 justify-content: center;
 align-items: center;
}

.todo-list{
 min-width: 30%;
 
 list-style: none;
}

.todo{
 width: 500px;
margin: 12px;
background-color: rgb(211, 210, 210);
color: rgb(63, 62, 62);
font-weight: bold;
font-size: 20px;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 25px;
}

.todo li{
 flex: 1;
}

.todo-item{
 padding: 0px 25px;
}

.trash-btn, .complete-btn{
 background: rgb(214, 40, 40);
 color: whitesmoke;
 border: none;
 padding: 1rem;
 cursor: pointer;
 font-size: 20px;
}
.trash-btn{
 border-top-right-radius: 25px;
 border-bottom-right-radius: 25px ;
}

.complete-btn{
 background: rgba(98, 127, 125, 0.662);
}

.completed .todo-item{
 text-decoration: line-through;
 opacity: 0.6;

}

.complete-btn:hover{
 
  color: rgb(255, 170, 0);
  background: rgb(255, 255, 255);
}
.trash-btn:hover{
  color: rgb(214, 40, 40);
  background: whitesmoke;
}


.btn-text{
  padding-right: 15px;
  
 }

 .addStuff{
  width: 600px;
 }

 

/*media querys*/

 
@media (min-width: 769px) and (max-width:1026px) {
  /* STYLES HERE */
  .addStuff{
   margin-top: -100px;
   
   width: 550px;
   height: 75px;
   font-size: 50px;
  }
  form button{
   margin-top: -100px;
   height: 75px;
   display: flex;
   justify-content: center;
   align-items: center;
   
  }
 .btn-text{
 margin-top: -10px;
  }
  
  .todo-button{
   
   font-size: 70px;
  }
   .theList{
    margin-top: -90px;
   }
   div.todo{
    
   width: 550px;
   
    }
  }
 
 @media (min-width: 481px) and (max-width: 768px) { 
  /* STYLES HERE */
  header h1{
   font-size: 100px;
  }
  .addStuff{
   margin-top: -100px;
   
   width: 550px;
   height: 65px;
   font-size: 30px;
  }
  form button{
   margin-top: -100px;
   height: 65px;
   
  }
  
  .btn-text{
   font-size: 30px;
  }
   .theList{
    margin-top: -90px;
   }
   div.todo{
    
   width: 500px;
   
    }
  }
 
 
 @media (max-width: 480px) {
  /* STYLES HERE */
 header h1{
  font-size: 55px;
 }
 
 .addStuff{
  margin-top: -100px;
  
  width: 270px;
  height: 45px;
  font-size: 20px;
 }
 form button{
  
  margin-top: -100px;
  height: 45px;
  
 }
 
 
 .btn-text{
  position: relative;
  top:-22px;
  left: 3px;
  font-size: 40px;
  
 }
  .theList{
   margin-top: -90px;
   
  }
  div.todo{
   font-size: 15px;
  width: 300px;
  
  
   }
   .todo, .trash-btn, .complete-btn{
    height: 45px;
    
   }
   .trash-btn, .complete-btn{
    font-size: 12px !important;
   }
   
 }
 
 /*end media query*/