#theList li{
padding-left: 10px;
 list-style: none;
}

#theList li:first-child{
 visibility: hidden;
 display: none;
}

#theList{
 width: 50%;
}

.crossed-out {
 text-decoration: line-through;
}


 .list{
  cursor: pointer;
 }

 

@media (max-width: 900px){
 #theList{
  width: 83%;
 }
}